<!-- <div class="remove-container container-block">
  <h2 class="container-block-title">
    About Theme
  </h2>
  <ul class="list-unstyled interests-list">
    <li><a target="_blank" href="https://github.com/cheng9911">How to use?</a></li>
     <li><a class="github-button" href="https://github.com/cheng9911" data-icon="octicon-star" data-show-count="true" aria-label="Star sharu725/online-cv on GitHub">Star</a>
     <script async defer src="https://buttons.github.io/buttons.js"></script>
  </ul>
</div> -->
<div class="remove-container container-block">
  <h2 class="container-block-title">
    About Theme
  </h2>
  <ul class="list-unstyled interests-list">
    <li><a target="_blank" href="https://github.com/cheng9911">How to use?</a></li>
    
    <li>
      <a class="github-button"
         href="https://github.com/cheng9911"
         data-icon="octicon-star"
         data-show-count="true"
         aria-label="Star cheng9911 on GitHub">
         Star
      </a>
    </li>
  </ul>

  <!-- 放在外面，不要嵌在 li 里面 -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</div><!--//About-->
